.error-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.error-text-container {
  text-align: center;
  width: 60%;
}
