.api-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.api-button {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 15px 32px;
  border-radius: 100px;
  border: none;
  background-color: #9CFFFA;
  font-family: 'Barlow', 'sans-serif';
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.api-button:hover {
  background-color: #75B8C8;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

input {
  margin-top: 1%;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px 20px 12px 20px;
}
